{% extends "website/index.html" %}
{% block Title %}
<title>Новости школы</title>
{% endblock %}
{% block content1 %}
    <div class="row row-cols-1 row-cols-md-1 g-4">
{% for news in data %}
<div class="card shadow-lg p-3 mb-5 bg-body rounded">
    <div class="row g-0">
        <div class="col-5 col-sm-4">
            <img src="{{ news.image.url}}" class="img-fluid w-100" alt="card-horizontal-image" style="height: 250px;">
        </div>
        <div class="col-7 col-sm-8">
            <div class="card-body">
                <p class="card-text " style="position: absolute; top: 0; right: 10px; color: blue;"><small>{{ news.category}}</small></p>
                <h5 class="card-title"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h5>
                <p class="card-text">{{ news.info}}</p>
                <p class="card-text " style="position: absolute; bottom: 0; right: 10px;"><small class="text-muted">Дата публикации: {{ news.created_at}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
