{% extends "website/index.html" %}
{% block Title %}
    <title>Дипломы и награды</title>
{% endblock %}
{% block content1 %}
<h1>Дипломы и награды</h1>
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for award in awards %}
<div class="col">
    <div class="card border-secondary mb-3 h-100" style="width: 20rem;">
    <img src="{{award.photo.url}}" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-black">{{ award.award_name }}</h5>
    <p class="card-text">{{ award.info }}</p>
    </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}
