{% extends "website/index.html" %}
{% block Title %}
<title>Контактная информация</title>
{% endblock %}
{% block content1 %}
<h5>Управление по образованию Слуцкого районного исполнительного комитета
            Государственное учреждение образования
            "Средняя школа №6 г.Слуцка</h5>
        <div style="position:relative;overflow:hidden; max-width: 100%"><a
                href="https://yandex.by/maps/org/shkola_6/1086794671/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Школа № 6</a><a
                href="https://yandex.by/maps/26951/slutsk/category/school/184106240/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Общеобразовательная школа в Слуцке</a>
            <iframe src="https://yandex.by/map-widget/v1/org/shkola_6/1086794671/?indoorLevel=1&ll=27.554594%2C53.030860&z=17.2"
                    width="100%" height="300px" frameborder="1" allowfullscreen="true"
                    style="position:relative;"></iframe>
        </div>

        <h4>Контакты для справок:</h4>
        {% for contact in contacts %}
        <div class="teacher-details">
            <h5>{{ contact.full_name }}</h5>
            <p><b>Должность:</b> {{ contact.position }}</p>
            <p><b>Email:</b> {{ contact.email }}</p>
            <p><b>Телефон для связи:</b> {{ contact.phone }}</p>
        </div>
        {% endfor %}
{% endblock %}