{% extends "website/index.html" %}
{% block Title %}
    <title>Лицензии</title>
{% endblock %}
{% block content1 %}
        <div class="row">
            {% for license in licenses %}
            <div class="col-lg-4 .col-sm-6">
                <div class="teacher-card">
                    <div class="col-12 col-sm-12 d-flex justify-content-center align-items-center clearfix visible-xs ">
                        <a href=""><img src="{{license.photo.url}}" alt=""></a>
                    </div>
                    <div class="teacher-details">
                        <h6 class="card-subtitle mb-2 text-muted">{{ license.name }}</h6>
                        <p class="card-text">{{ license.info }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
