{% extends "website/index.html" %}
{% block Title %}
<title>{{ teacher.full_name }}</title>
{% endblock %}
{% block content1 %}
<div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{teacher.photo.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ teacher.full_name }}</h3>
                <ul>
                <li class="card-text"><b>Должность: </b> {{ teacher.position }}</li>
                <li class="card-text"><b>Уровень образования: </b> {{ teacher.education_level }}</li>
                <li class="card-text"><b>Квалификация: </b> {{ teacher.qualification }}</li>
                <li class="card-text"><b>Ученая степень: </b> {{ teacher.degree }}</li>
                <li class="card-text"><b>Ученое звание: </b> {{ teacher.academic_rank }}</li>
                <li class="card-text"><b>Сведения о повышении квалификации и (или) профессиональной переподготовке: </b>
                    {{ teacher.advanced_training_info }}</li>
                <li class="card-text"><b>Сведения о профессиональной переподготовке (при наличии): </b>
                    {{ teacher.professional_retraining_info }}</li>
                <li class="card-text"><b>Сведения о продолжительности опыта (лет) работы в профессиональной сфере: </b>
                    {{ teacher.experience }}</li>
                <li class="card-text"><b>Контактный телефон: </b> {{ teacher.contact_phone }}</li>
                <li class="card-text"><b>Адрес электронной почты: </b> {{ teacher.email }}</li>
                <li class="card-text"><b>Образовательные программы: </b> {{ teacher.educational_programs }}</li>
                <li class="card-text"><b>Перечень преподаваемых дисциплин: </b> {{ teacher.get_discipline }}</li>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
