{% extends "website/index.html" %}
{% block Title %}
    <title>Преподаватели</title>
{% endblock %}
{% block content1 %}
        <div class="row">
            {% for teacher in teachers %}
            <div class="col-lg-4 .col-sm-6">
                <div class="teacher-card">
                    <div class="teacher-thumb">
                        <a href=""><img src="{{teacher.photo.url}}" alt=""></a>
                    </div>
                    <div class="teacher-details">
                        <h4><a href="{% url 'teacher' teacher.teacher_id %}">{{ teacher.full_name }}</a></h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ teacher.position }}</h6>
                        <p class="card-text"><b>Предметы:</b> {{ teacher.get_discipline }}</p>
                        <p class="card-text"><b>Телефон:</b> {{ teacher.contact_phone }}</p>
                        <p class="card-text"><b>Электронный адрес:</b> {{ teacher.email }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
